ul.bread {
    /*padding: 20px 20px ;*/
    list-style: none;
    float: left;
    font-size: 14px;
}

ul.bread li {
    display: inline;
}

ul.bread > li + li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #c1c2c3;
}

ul.bread li a {
    color: #FF544F;
}

ul.bread li a:hover {
    color: #ff2834;
}

ul.bread li .active {
    color: #ff2834;
}

.ma-to {
    margin-top: 0px;
!important;
}

.current {
    color: #f05050 !important;
}

.pagination > .active > a {
    color: floralwhite !important;
    background-color: #f05050 !important;
    border-color: #F02828 !important;
    cursor: hand !important;
}

.pagination > .active > a:hover {
    cursor: hand !important;
    color: #f05050 !important;
    background-color: floralwhite !important;
    border-color:#F02828  !important;
}

.pagination > .active > a:focus {
    cursor: hand !important;
    color: floralwhite !important;
    background-color: #f05050 !important;
    border-color: #F02828 !important;
}

footer {
    margin-top: 0px !important;
}

.margin-le-to {
    margin-top: 20px;
    margin-left: 75px;
}

.aside-collapsed .margin-ri {
    margin-right: 155px !important;
}

@media (min-width: 240px) {
    .aside-collapsed.margin-ri {
        margin-right: 175px !important;
    }
}


.select2-results, .select2-search{
    background: none !important;
}
.select2-search {
    box-shadow: none !important;
}
.select2-search__field{
    background: none !important;
}
#faculty_university .select2-dropdown{
    width:445px !important;
}

::-webkit-scrollbar {
    width: 12px;
    direction: rtl;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}