/*  ma tab */


.active {
    border-color: #FF4C4C !important;
}

@media only screen and (min-width: 400px) {
    div.ma-tab-container {
        margin-right: 50px;
        z-index: 10;
        background-color: #ffffff;
        padding: 0 !important;
        border-radius: 4px;
        -moz-border-radius: 4px;
        border: 1px solid #ddd;
        margin-top: 20px;
        /*margin-left: 100px;*/
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        background-clip: padding-box;
        opacity: 0.97;
        filter: alpha(opacity=97);
    }

    div.ma-tab-menu div.list-group > a.active:after {
        display: none;
    }

    div.ma-tab-menu {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }

    div.ma-tab {
        margin-right: 30px;
    }
    div.ma-tab-menu div.list-group > a.active,
    div.ma-tab-menu div.list-group > a.active .glyphicon,
    div.ma-tab-menu div.list-group > a.active .fa {
        background-color: #ff4c4c !important;
        color: #ffffff;
    }

    div.ma-tab-menu div.list-group > a .glyphicon,
    div.ma-tab-menu div.list-group > a .fa {
        color: #FF4C4C;
    }

}
@media only screen and (min-width: 600px) {

    div.ma-tab-container {
        margin-right: 0px;
        z-index: 10;
        background-color: #ffffff;
        padding: 0 !important;
        border-radius: 4px;
        -moz-border-radius: 4px;
        border: 1px solid #ddd;
        margin-top: 20px;
        /*margin-left: 100px;*/
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        background-clip: padding-box;
        opacity: 0.97;
        filter: alpha(opacity=97);
    }

    div.ma-tab-menu {
        width: 25%;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }

    div.ma-tab-menu div.list-group {
        margin-bottom: 0;
    }

    div.ma-tab-menu div.list-group > a {
        margin-bottom: 0;
    }

    div.ma-tab-menu div.list-group > a .glyphicon,
    div.ma-tab-menu div.list-group > a .fa {
        color: #FF4C4C;
    }

    div.ma-tab-menu div.list-group > a:first-child {
        border-top-right-radius: 0;
        -moz-border-top-right-radius: 0;
    }

    div.ma-tab-menu div.list-group > a:last-child {
        border-bottom-right-radius: 0;
        -moz-border-bottom-right-radius: 0;
    }

    div.ma-tab-menu div.list-group > a.active,
    div.ma-tab-menu div.list-group > a.active .glyphicon,
    div.ma-tab-menu div.list-group > a.active .fa {
        background-color: #FF4C4C !important;
        color: #ffffff;
    }

    div.ma-tab-menu div.list-group > a.active:after {
        content: '';
        position: absolute;
        right: 100%;
        top: 50%;
        margin-top: -13px;
        border-left: 0;
        border-bottom: 13px solid transparent;
        border-top: 13px solid transparent;
        border-right: 10px solid #FF4C4C !important;
    }

    div.ma-tab-content {
        background-color: #ffffff;
        /* border: 1px solid #eeeeee; */
        /*padding-left: 20px;*/
        padding-top: 10px;
    }

    div.ma-tab div.ma-tab-content:not(.active) {
        display: none;
    }

    div.ma-tab {
        margin-right: 0px;
    }
}